html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 100%;
  background-color: #f8f8f8;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.sidebar h1 {
  margin-top: 0;
  color: #4a7c59;
}

.sidebar p {
  line-height: 1.6;
}

.sidebar a {
  color: #3273dc;
}

.sidebar a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

#map {
  flex-grow: 1;
  height: 800px;
}

@media (max-width: 768px) {
  .sidebar {
    /* Anpassungen Sidebar auf kleineren Bildschirmen */
    height: auto;
    padding: 10px;
  }

  #map {
    height: 500px; /* Anpassung Kartenhöhe kleinere Bildschirme */
  }
}
